.show-module-content-wrapper {
  padding: 0 20px;

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .ql-container.ql-snow {
    border: none;

    .ql-editor {
      padding: 0;
      line-height: var(--line-height);
    }
  }

  .avatar {
    position: absolute;
    top: 0;
    right: 0;
  }
  .base-info-module-content {
    position: relative;
  }

  .education-info-module-content-wrapper {
    .education-info-module-content {
      margin: 0;
    }
  }

}
