.show-module-content-wrapper {
  padding: 0 20px;

  .ant-tag {
    padding: 2px 10px;
    font-size: var(--fontSize);
  }

  .ant-col {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
  }

  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .ql-container.ql-snow {
    border: none;

    .ql-editor {
      padding: 0;
      font-family: var(--fontFamily);
      line-height: var(--lineHeight);
    }
  }

  .slider-with-value-wrapper{
    width: 160px;
    cursor: pointer;
    pointer-events: all;
    
    .ant-slider-disabled {
      color: var(--primaryColor);
    }
    .ant-slider.ant-slider-disabled .ant-slider-track {
      background-color: var(--primaryColor) !important;
    }

    .prefix {
      font-weight: 700;
    }

    .slider-tips {
      color: var(--primaryColor);
    }

    .ant-slider-handle {
      pointer-events: none;
    }
  } 

  .avatar {
    position: absolute;
    top: 0;
    right: 0;
  }
  .base-info {
    position: relative;
  }

  .info-module-content-wrapper {
    .info-module-content {
      margin-top: 10px;
    }
  }

}
