.edit-cv-header {
  box-shadow: 0 0 10px #0003;
  background-color: #fff;
  position: sticky;
  z-index: 9999;
  padding: 20px;
  top: 0;

  .edit-title {
    font-size: 20px;
    text-align: center;
  }
}

.edit-cv-container {
  margin: 20px;
}