*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'iconfont';
  src:
    url('../assets/fonts/iconfont.woff2') format('woff2'),
    url('../assets/fonts/iconfont.woff') format('woff'),
    url('../assets/fonts/iconfont.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceHanSerifCN';
  src: url('../assets/fonts/source-han-serif-cn-m.otf') format('opentype');
}

@font-face {
  font-family: 'SourceSongSerifCN';
  src: url('../assets/fonts/source-song-m.otf') format('opentype');
}
@font-face {
  font-family: 'KaiTi';
  src: url('../assets/fonts/Kai-98_1.ttf') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
